html, body {
  height: 100vh;
  margin: 0;
  background-color: #e9e7e4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.body {
  padding-top: 3px;
}

.material-icons {
  color: #eadfc6;
  margin-right: 16px;
  margin-left: 6px;
  margin-top: 8px;
  cursor: pointer;
}
