html, body {
  height: 100vh;
  margin: 0;
  background-color: #e9e7e4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.body {
  padding-top: 3px;
  font-family: sans-serif;
}

.area {
  position: fixed;
  top: 70px;
  width: 92%;
  background: #FFF;
  left: 4%;
  padding: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2000;
  outline: none;
}

.cate {
  color: #4285F4;
  font-size: 10pt;
  cursor: pointer;
  display: inline-block;
  margin: 0.5em;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 2px;
}

.cate:hover{
  background-color: #D1D1D1;
}

h2 {
  color: #333;
}

.material-icons {
  color: #eadfc6;
  margin-right: 16px;
  margin-left: 6px;
  margin-top: 8px;
  cursor: pointer;
}

#random:hover {
  transition: 1.2s;
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
